<h1>My Watch Lists</h1>
<h2><%= link_to 'Create a watch list', new_list_path %></h2>
<ul>
<% @lists.each do |list| %>
  <li style="list-style: none">
    <%= link_to "#{list.name}", list_path(list) %>
    <%= cl_image_tag(list.photo.key, height: 300, width: 400, crop: :fill) %>
    <br>
  </li>
<% end %>
<!-- app/views/articles/index.html.erb -->
<%# handle if user doesnèt want a photo %>
