<div class="banner">
      <div class="container">
        <h1>The one stop shop to organize all of your movie watch lists!</h1>
      </div>
    </div>
<h2><%= link_to 'Create a watch list', new_list_path %></h2>
<ul>
<% @lists.each do |list| %>
  <li style="list-style: none">
    <%= link_to "#{list.name}", list_path(list) %>
    <% if list.photo.attached? %>
    <% else %>
      <%= image_tag "template_poster.jpg", alt: "Le Wagon", width: 200 %>
    <% end %>
    <br>
  </li>
<% end %>
