<h1>My Watch Lists</h1>

<ul>
<% @lists.each do |list| %>
  <li style="list-style: none">
    <%= list.name %>
    <br>
    <%# <%= image_tag list.poster_url, alt: "a poster", width: 200 %> %>
  </li>
<% end %>
</ul>
